extends ../index.pug

block content
    section.hero.is-dark.is-bold.is-medium
        .hero-body
            .container
                h1.title.is-1= title
                h2.subtitle.is-3= subtitle
                
    ul.container(style={'padding-top': '20px'})
        each developer in developers
            a(href="/developers/"+developer.id)
                article.media(style={'padding': '20px'})
                    figure.media-left
                        p.image.is-128x128.is-hidden-mobile
                            img(src= developer.image)
                        p.image.is-64x64.is-hidden-tablet
                            img(src= developer.image)
                    .media-content
                        .content
                            h3.title.is-3= developer.name
                            p.subtitle= 'Favorite Language: ' + developer.favoriteLanguage
            
