a.box( v-bind:href='"/developers/" + developer.id'
       style={'margin': '10px 0px 10px 0px'})
    article.card
        figure.card-image
            p.image.is-3by4
                img(v-bind:src='developer.image')
        .card-content
            .content.has-text-centered
                h2(v-html='developer.firstName + " " +  developer.lastName')
                p(v-html="developer.title")
