a.box( v-bind:href='"/developers/" + developer.id'
       style={'margin': '20px'})
    article.card
        figure.card-image
            p.image.is-3by4.is-hidden-mobile
                img(v-bind:src='developer.image')